.app{
    display:flex;
    align-items:center;
    justify-content:space-around;
    height: 100vh;
}
.control{
    width: 40vw;
} 
.box{
    width: 50vw;
    height:50vh;
    background:crimson;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}
.box p{
    background:rgb(139,139,139);
    border: 2px solid black;
    padding:10px;
    width:50%;
    text-align:center;
    font-size: 15px;
}
.form-color{
    margin: 0 30px;
    width: 100px;
}
